.dashboard{

    display:flex;

    min-height:100vh;

}

.content{

    flex:1;

    margin-left:260px;

    padding:35px;

    background:#F4F7F6;

    min-height:100vh;

}

.topbar{

    margin-bottom:25px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

    margin-top:30px;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

    margin-top:30px;

}

@media(max-width:900px){

    .dashboard{

        flex-direction:column;

    }

    .content{

        margin-left:0;

        padding:18px;

    }

    .dashboard-grid{

        grid-template-columns:1fr;

    }

    .cards{

        grid-template-columns:1fr;

    }

}
